@import '@styles/consts';
.ProjectsGallery {
    padding-left: 0;
    padding-right: 0;
}

.title {
    margin-bottom: 50px;

    @media (max-width: $lg) {
        margin-bottom: 30px;
    }

    @media (max-width: $md) {
        margin-bottom: 20px;
    }
}

.swiper {
    & .slide {
        width: 655px;
        height: auto;
    }

    @media (max-width: $lg) {
        & .slide {
            max-width: 420px;
            height: auto;
        }
    }

    @media (max-width: $md) {
        & .slide {
            max-width: 255px;
        }
    }
}
