.Error {
    display: flex;
    justify-content: center;
    margin: 30px;
    justify-content: center;
    text-align: center;
}

.content {
    width: fit-content;
    background: #fc4444;
    color: #fff;
    font-size: 20px;
    line-height: 24px;
    padding: 20px;
    font-weight: 700;
}
