// @import '@styles/consts';
// COLORS
$mint: #00dfce;
$blue: #005ddf;
$gold: #f98a09;
$orange: #ffa220;
$brown: #d66300;
$dark-brown: #331110;
$gray: #f5f5f5;

// SIZES
$header-desktop: 89px;
$header-mobile: 60px;

// MEDIA SCREENS
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;

// TRANSITION
$transition: all 0.1s ease;
