@import '@styles/consts';
.ProjectTechnicalPart {
    padding: 80px 16px;

    @media (max-width: $md) {
        padding: 70px 16px;
    }
}

.block {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    gap: 50px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    gap: 20px;

    @media (max-width: $md) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.item {
    font-family: 'Anonymous Pro';
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    gap: 5px 10px;
    flex-wrap: wrap;
    align-items: center;

    @media (max-width: $lg) {
        font-size: 16px;
        line-height: 18px;
    }

    @media (max-width: $md) {
        font-size: 18px;
        line-height: 20px;
    }
}
