@import '@styles/consts';

.OurMission {
}

.span {
    color: $orange;
}

.text {
    max-width: 770px;
    margin-bottom: 20px;
}

.block {
    max-width: 1155px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
